### Pandas
* DataFrame 클래스
* Series 클래스

In [ ]:
import pandas as pd

#### read_csv() : csv 파일을 읽어서 DataFrame 객체로 생성함

In [ ]:
'''
Survived	0이면 사망, 1이면 생존	int64
Pclass	    티켓 등급 : 1, 2, 3	int64
Name	    승객 이름 : Surname, Title. Firstname	object
Sex		    성별 : male, female	object
Age		    승객의 나이	float64
SibSp		형제, 자매, 배우자의 합	int64
Parch		부모, 자식의 합	int64
Ticket		티켓 번호	object
Fare		요금	float64
Cabin		객실 번호	object
Embarked	선착장 : C(Cherbourg), Q(Queenstown), S(Southampton)	object
'''

In [ ]:
titanic_df = pd.read_csv("titanic_train.csv")
print("titanic 변수 타입 :",type(titanic_df))

* head() 메소드
* DataFramde 의 상위 5 개의 data를 추출함

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.head(10)

* dictionary 에 있는 data 를 DataFrame 으로 변환하기
* DataFrame 객체를 생성하면서 argument 로 dictionary 를 지정해 주면 됨

In [ ]:
dict1 = {
         "name":["이순신","안중근","유관순","글로벌"],
         "birth":[1545, 1879, 1901, 2010],
         "gender":["남자","남자","여자","여자"]
        }

info_df = pd.DataFrame(dict1)
# print("info_df :\n",info_df)
print(dict1["name"])
info_df

In [ ]:
# 컬럼명 추가하기
info_df = pd.DataFrame(dict1, columns=["name","birth","gender","age"])
info_df

In [ ]:
# 인덱스명 설정하기
info_df = pd.DataFrame(dict1, index=["one","two","three","four"])
info_df

 * DataFrame 의 column 명 / index

In [ ]:
# titanic_df 
print("columns :\n",titanic_df.columns)

In [ ]:
print("index :\n",titanic_df.index)

In [ ]:
# 0 ~ 890
print("index 값 :\n",titanic_df.index.values)

### Series
* DataFrame 에서 Serise 추출하기

In [ ]:
# DataFrame 에서 [] 속에 컬럼명 하나를 지정해서 Series 로 추출하기
#                         ㄴ "컬럼명"("Name")지정
series_name = titanic_df["Name"]
series_name
print("series_name :",type(series_name))
series_name.head()

In [ ]:
# DataFrame 에서 [] 속에 컬럼명 하나를 지정해서 DataFrame 로 추출하기
#                         ㄴ ["컬럼명"](["Name"])로 지정
df_name = titanic_df[["Name"]]
df_name
print("df_name :",type(df_name))
df_name.head()

In [ ]:
# DataFrame 에서 [] 속에 컬럼명 두 개를 지정해서 DataFrame 로 추출하기
#                         ㄴ ["컬럼명", "컬럼명"](["Name", "Age"])로 지정
df_name_age = titanic_df[["Name", "Age"]]
df_name_age
print("df_name_age :",type(df_name_age))
df_name_age.head()

* shape : DataFrame 의 행(row)과 열(column)의 크기를 알려줌

In [ ]:
print("titanic_df 의 shape :",titanic_df.shape)

* info() 메소드 : DataFrame 의 data 건수(행의 개수), 컬럼 개수, 컬럼 이름, 데이터 타입, Null(결측치) 건수를 제공함

In [ ]:
titanic_df.info()

* describe() 메소드 : 숫자로 된 데이터값들의 개수(count), 평균(mean), <br>표준편차(std), 4분위분포도(최저값, 25%, 50%, 75%, 최고값) 을 제공함

In [ ]:
titanic_df.describe()

* value_counts() 메소드 : 같은 데이터값들이 몇 건 있는지 정보를 제공해 줌
*  ㄴ 개별 데이터 값들의 분포도를 알 수 있음
* DataFrame 클래스의 메소드가 아니고, Series 클래스의 메소드이기 때문에
* DataFrame 에서 Series 를 추출해서 호출해야 함

In [ ]:
value_counts = titanic_df["Pclass"].value_counts()
print("value_counts :\n",value_counts,sep="")
print("titanic_df[\"Pclass\"] 의 타입 :",type(titanic_df["Pclass"]))

In [ ]:
# Series 
titanic_df["Pclass"].head()

* sort_values() 메소드 (DataFrame 클래스의 메소드) : 원본이 변형되지 않고 정렬된 새로운 DataFrame 객체를 생성함
* parameter : by=정렬할컬럼, ascending=True(오름차순)/False(내림차순)

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.sort_values(by="Pclass", ascending=True).head()

In [ ]:
titanic_df.sort_values(by="Pclass", ascending=False).head()

In [ ]:
titanic_df.head()

In [ ]:
# 두 개의 컬럼을 추출하는데 정렬 컬럼 하나만 지정하기
# 원본데이터프레임이름[["컬럼1", "컬럼2"]].sort_values(by=정렬기준컬럼)

titanic_df[["Name", "Age"]].sort_values(by="Age")

In [ ]:
titanic_df[["Name","Age","Pclass"]].sort_values(by=["Pclass","Age"], ascending=[False, False])
# titanic_df[["Name","Age","Pclass"]].sort_values(by=["Pclass","Age"], ascending=[True, False])
# titanic_df[["Name","Age","Pclass"]].sort_values(by=["Pclass","Age"], ascending=[False, True])
# titanic_df[["Name","Age","Pclass"]].sort_values(by=["Pclass","Age"], ascending=[True, True])
# titanic_df[["Name","Age","Pclass"]].sort_values(by=["Pclass","Age"])

In [ ]:
# 세 개의 컬럼을 추출하는데 정렬 컬럼 두 개 지정하기
# 원본데이터프레임이름[["컬럼1","컬럼2","컬럼3"]].sort_values(by=["정렬기준컬럼1","정렬기준컬럼2"])
# "정렬기준컬럼1"으로 grouping 한 후 "정렬기준컬럼2" 으로 정렬함
titanic_df[["Name","Age","Pclass"]].sort_values(by=["Pclass","Age"])

* DataFrame / list / dictionary / np.ndarray 서로 변환하기

In [ ]:
# list -> ndarray -> DataFrame

import numpy as np

col_name1 = ["col1"]

list1 = [1, 2, 3, 4, 5]
array1 = np.array(list1)
print("array1 :\n",array1)
print("array1.shape :\n",array1.shape)

# 1 차원 리스트를 DataFrame 으로 변환하기
list1_df = pd.DataFrame(list1, columns=col_name1)
list1_df

# 1 차원 ndarray 를 DataFrame 으로 변환하기
array1_df = pd.DataFrame(array1, columns=col_name1)
array1_df

In [ ]:
# 2행 X 3열 의 리스트와 ndarray 를 DataFrame 으로 변환하기
col_name2 = ["col1", "col2", "col3"]

list2 = [[1, 2, 3],
         [11, 22, 33]]
array2 = np.array(list2)

# 2 차원 리스트를 DataFrame 으로 변환하기
list2_df = pd.DataFrame(list2, columns=col_name2)
list2_df

# 2 차원 ndarray 를 DataFrame 으로 변환하기
array2_df = pd.DataFrame(array2, columns=col_name2)
array2_df

* dictionary 를 DataFrame 으로 변환하기
* key 는 컬럼명이 되고, value 는 해당 컬럼의 data가 됨

In [ ]:
dict1 = {
         "이름":["글로벌", "아이티", "개발원"],
         "나이":[26, 21, 32],
         "성별":["남자","여자","남자"]
        }
dict1_df = pd.DataFrame(dict1)
dict1_df

* DataFrame 을 ndarray 로 변환하기

In [ ]:
df_array = dict1_df.values
print("df_array 타입 :",type(df_array))
print("df_array :\n",df_array)

* DataFrame 을 list / dictionary 로 변환하기

In [ ]:
df_list = dict1_df.values.tolist()
print("df_list 타입 :",type(df_list))
print("df_list :\n",df_list)

In [ ]:
df_dict = dict1_df.to_dict("list")
print("df_dict 타입 :",type(df_dict))
print("df_dict :\n",df_dict)

In [ ]:
dict1_df

In [ ]:
df_dict = dict1_df.to_dict()
print("df_dict 타입 :",type(df_dict))
print("df_dict :\n",df_dict)

In [ ]:
dict1_df