In [ ]:
'''
1) label encoding : 문자 -> 숫자

     상품분류     가격             상품분류     가격
       TV         1000000              0        1000000 
     냉장고       1500000    -->       1        1500000
     세탁기        500000              2         500000
     컴퓨터       2000000              3        2000000  


  2) One-Hot encoding : 
       ㄴ feature 값의 유형에 따라서 새로운 feature 를
          추가해서 고유값에 해당하는 컬럼에만 1을 표시하고
          나머지는 0을 표시하는 방법
  
상품분류 가격     상품분류    가격  상품분류_TV 상품분류_냉장고 상품분류_세탁기 상품분류_컴퓨터
   TV    1000000   0        1000000       1              0              0               0
 냉장고  1500000   1        1500000       0              1              0               0
 세탁기   500000   2         500000       0              0              1               0
 컴퓨터  2000000   3        2000000       0              0              0               1
 '''

In [2]:
from sklearn.preprocessing import LabelEncoder
items = ["TV", "냉장고", "전자레인지", "컴퓨터", "선풍기", "선풍기", "믹서", "믹서"]

encoder = LabelEncoder()

encoder.fit(items)

labels = encoder.transform(items)
print("인코당 변환값:", labels)

print("인코딩 클래스:", encoder.classes_)
print("디코당 원본값:", encoder.inverse_transform([]))

인코당 변환값: [0 1 4 5 3 3 2 2]
인코딩 클래스: ['TV' '냉장고' '믹서' '선풍기' '전자레인지' '컴퓨터']
디코당 원본값: []

In [5]:
import numpy as np
items = ["TV", "냉장고", "전자레인지", "컴퓨터", "선풍기", "선풍기", "믹서", "믹서"]

encoder.fit(items)
labels = encoder.transform(items)
labels = labels.reshape(-1,1)

oh_encoder = OneHotEncoder(labels)
on_encoder.fit(labels)
oh_encoder = oh_encoder.transform(labels)
print("One-Hot 인코딩데이터")
print(oh_labels.toarray())
print("One-Hot 인코딩 데이터의 shape(차원)")
print(oh_labels.shape)

NameError: name 'OneHotEncoder' is not defined

In [6]:
import pandas as pd
df = pd.DataFrame({"items":["TV", "냉장고", "전자레인지", "컴퓨터", "선풍기", "선풍기", "믹서", "믹서"]})
df

   items
0     TV
1    냉장고
2  전자레인지
3    컴퓨터
4    선풍기
5    선풍기
6     믹서
7     믹서

In [7]:
pd.get_dummies(df)

   items_TV  items_냉장고  items_믹서  items_선풍기  items_전자레인지  items_컴퓨터
0         1          0         0          0            0          0
1         0          1         0          0            0          0
2         0          0         0          0            1          0
3         0          0         0          0            0          1
4         0          0         0          1            0          0
5         0          0         0          1            0          0
6         0          0         1          0            0          0
7         0          0         1          0            0          0

In [8]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

print("feature 들의 평균값:\n", iris_df.mean(),sep="")
print("feature 들의 분산값:\n", iris_df.var(),sep="")

feature 들의 평균값:
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64
feature 들의 분산값:
sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)

print("feature 들의 평균값:\n",iris_df_scaled.mean())
print("\nfeature 들의 분산값:\n",iris_df_scaled.var(),sep="")

feature 들의 평균값:
 sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64

feature 들의 분산값:
sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

In [12]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

iris_df_scaled = pd.DataFrame(iris_scaled, columns=iris.feature_names)

print("feature 들의 최솟값:\n",iris_df_scaled.min())
print("\nfeature 들의 최대값 :\n", iris_df_scaled.max(),sep="")

feature 들의 최솟값:
 sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64

feature 들의 최대값 :
sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64