In [1]:
def add(num1, num2):
    return num1 + num2

# lambda 함수를 변수에 할당하기
add_func = lambda num1, num2 : num1 + num2

# 일반 함수 호출하기
print(add(1, 2))

# lambda 함수를 변수에 할당한 후
# 변수로 호출하기
print(add_func(3, 4))

# lambda 함수 직접 호출하기
print((lambda num1, num2 : num1 + num2)(5, 6))

3
7
11

In [2]:
print("람다함수 호출결과 :",(lambda n1, n2 : n1 + n2)(5, 7))
print("람다함수 호출결과 :",(lambda n1, n2 : n1 * n2)(5, 7))
print("람다함수 호출결과 :",(lambda n1, n2 : 123456)(5, 7))
print("람다함수 호출결과 :",(lambda n1, n2 : "HELLO PYTHON")(5, 7))

람다함수 호출결과 : 12
람다함수 호출결과 : 35
람다함수 호출결과 : 123456
람다함수 호출결과 : HELLO PYTHON

In [3]:
print("람다함수 호출결과 :",(lambda n1, n2=11: n1 + n2)(33))
print("람다함수 호출결과 :",(lambda n1, n2=11: n1 + n2)(33, 55))

람다함수 호출결과 : 44
람다함수 호출결과 : 88

In [4]:
number = 22
print("람다함수 호출결과 :",(lambda n1 : n1 + number)(33))
print("number :",number)

람다함수 호출결과 : 55
number : 22

In [5]:
def add_10(number):
    return number + 10
print(add_10(10))
print((lambda number : number + 10)(10))

# parameter 위치에서 연산식을 사용할 수 없음
# print((lambda number + 1 : number + 10)(10))
print((lambda number : (number * 2) + 10)(10))

20
20
30

In [6]:
# 1) 일반함수를 map() 함수의 argument 로 사용하기
def square_number(number):
    return number ** 2
list_numbers = [1, 2, 3, 4, 5]
print("list_numbers   :",list_numbers)
print("map()함수 사용 :",list(map(square_number, list_numbers)))
print("map()함수 사용 :",map(square_number, list_numbers))

lambda number : number ** 2
print("map()함수 사용 - lambda :",list(map(lambda number : number ** 2, list_numbers)))

square_nums = lambda number : number ** 2
print(list(map(square_nums, list_numbers)))

list_numbers   : [1, 2, 3, 4, 5]
map()함수 사용 : [1, 4, 9, 16, 25]
map()함수 사용 : <map object at 0x0000028FFC61B670>
map()함수 사용 - lambda : [1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [7]:
float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print("float_numbers :",float_numbers)
for idx in range(len(float_numbers)):
    float_numbers[idx] = int(float_numbers[idx])
print("float_numbers :",float_numbers)
print("-" * 50)

float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print("float_numbers :",float_numbers)
int_numbers = []
for real_num in float_numbers:
    int_numbers.append(int(real_num))
print("int_numbers   :",int_numbers)
print("-" * 50)

float_numbers : [1.2, 2.4, 3.6, 4.5, 5.1]
float_numbers : [1, 2, 3, 4, 5]
--------------------------------------------------
float_numbers : [1.2, 2.4, 3.6, 4.5, 5.1]
int_numbers   : [1, 2, 3, 4, 5]
--------------------------------------------------

In [8]:
float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print("float_numbers :",float_numbers)

def float_list2int_list(real_list):
    int_numbers = []
    for real_num in float_numbers:
        int_numbers.append(int(real_num))
    return int_numbers

result = float_list2int_list(float_numbers)
print("result        :",result)

float_numbers : [1.2, 2.4, 3.6, 4.5, 5.1]
result        : [1, 2, 3, 4, 5]

In [9]:
def float2int(real_number):
    return int(real_number)
result = float2int(12.34)
print(result)

print((lambda real_number : int(real_number))(934.56))

float_numbers = [1.2, 2.4, 3.6, 4.5, 5.1]
print("float_numbers :",float_numbers)

# 1) 일반 함수
print(list(map(float2int, float_numbers)))

# 2) 람다 함수
print(list(map(lambda real_number : int(real_number), float_numbers)))

# 3) 내장 함수 (int()) 사용하기
print(list(map(int, float_numbers)))

# 4) 내장 함수 (str()) 사용해서 문자열로 바꾸기
print(list(map(str, float_numbers)))

12
934
float_numbers : [1.2, 2.4, 3.6, 4.5, 5.1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['1.2', '2.4', '3.6', '4.5', '5.1']

In [10]:
num1 = int(input("첫 번째 정수를 입력하세요 : "))
num2 = int(input("두 번째 정수를 입력하세요 : "))
total = num1 + num2
print("total :",total)

첫 번째 정수를 입력하세요 : 11
두 번째 정수를 입력하세요 : 22
total : 33

In [11]:
result = input("정수 두 개를 입력하세요 (공백으로 구분) : ").split()
n1, n2 = map(int, result)
total = n1 + n2
print("total :",total)

정수 두 개를 입력하세요 (공백으로 구분) : 11 33
total : 44

In [12]:
list_nums = list(range(1, 21))

# 1) 일반 함수
def int2str(number):
    if number % 3 == 0:
        return str(number)
    else:
        return number    
result = list(map(int2str, list_nums))    
print("result :",result)

# 2) lambda 식에서 조건문 사용하기
result = list(map(lambda num : str(num) if num % 3 == 0 else num, list_nums))
print("result :",result)

result : [1, 2, '3', 4, 5, '6', 7, 8, '9', 10, 11, '12', 13, 14, '15', 16, 17, '18', 19, 20]
result : [1, 2, '3', 4, 5, '6', 7, 8, '9', 10, 11, '12', 13, 14, '15', 16, 17, '18', 19, 20]

In [13]:
list_nums = list(range(1, 21))

def str_float_plus10(number):
    if number == 1:
        return str(number)
    elif number == 2:
        return float(number)
    else:
        return number + 10

result = list(map(str_float_plus10, list_nums))
print("result :",result)

test1 = lambda number : str(number) if number == 1 else float(number) if number == 2 else number + 10
result = list(map(test1, list_nums))
print("result :",result)

result : ['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
result : ['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [14]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8, 10]

result = list(map(lambda i, j : i * j, list1, list2))
print("result :",result)

result : [2, 8, 18, 32, 50]