In [2]:
def test1(num1, num2):
    return(num1 + 10) * (num2 + 5)
result1 = test1(20, 30)
print(result1)

1050

In [5]:
def print_n_times(*values, n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_n_times("안녕하세요", "이번달은", "3월입니다", n=4)
print_n_times("안녕하세요", "이번달은", "3월입니다", 5)

안녕하세요
이번달은
3월입니다

안녕하세요
이번달은
3월입니다

안녕하세요
이번달은
3월입니다

안녕하세요
이번달은
3월입니다

안녕하세요
이번달은
3월입니다
5

안녕하세요
이번달은
3월입니다
5

In [6]:
def greeting(**say_hello):
    for key, value, in say_hello.items():
        if "mamma" in say_hello.keys():
            print("모두, 안녕하세요")
        else:
            print(f"당신의 이름은 {value} 입니다")
            
greeting(papa="글로벌")            
greeting(mamma="아이티")
greeting(sister="개발원")

당신의 이름은 글로벌 입니다
모두, 안녕하세요
당신의 이름은 개발원 입니다

In [7]:
def company_info(name, *companies, **profits):
    print(name)
    for company in companies:
        print(company)
    for company, profit in profits.items():
        print(company,"영업이익 :",profit,"원")
        
name = "LG"        
company1 = "LG생건"
company2 = "LG전자"
company3 = "LG화학"

company_info(name, company1, company2, company3,
             company1_profit=1000, company2_profit=2000, company3_profit=3000)

LG
LG생건
LG전자
LG화학
company1_profit 영업이익 : 1000 원
company2_profit 영업이익 : 2000 원
company3_profit 영업이익 : 3000 원

In [8]:
print("람다결과 :",(lambda n1, n2 : n1 + n2)(1, 10))
print("람다결과 :",(lambda n1, n2 : n1 * n2)(2, 12))
print("람다결과 :",(lambda n1, n2 : 123456)(1, 2))
print("람다결과 :",(lambda n1, n2 : "HELLO PYTHON")(3, 7))

람다결과 : 11
람다결과 : 24
람다결과 : 123456
람다결과 : HELLO PYTHON

In [9]:
'''
list 두 개 사용해서 map() 호출하기

아래의 두 list 의 요소를 같은 index 의 요소끼리
차례로 곱한 값을 요소로 하는 list를 생성하고 출력하세요
'''
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]

result = list(map(lambda i, j : i * j, list1, list2))
print("result :",result)

result : [2, 12, 30, 56, 90]

In [11]:
list_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
'''
list_nums 의 요소중 짝수만 추출해서
list로 생성하세요
filter() 함수 사용
1) 일반함수
2) lambda 식
'''
def even_number(number):
    return number % 2 == 0
result = list(filter(even_number, list_nums))
print(result)

result = list(filter(lambda number : number % 2 == 0, list_nums))
print(result)

def even_map(number):
    if number % 2 ==0:
        return number
result = list(map(even_map, list_nums))
print(result)

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12]
[None, 2, None, 4, None, 6, None, 8, None, 10, None, 12]

In [13]:
from functools import reduce

def max_number(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2
list_nums = [8, 3, 2, 11, 17, 19, 20, 13]
result = reduce(max_number, list_nums)
print(result)

20

In [14]:
def outer():    
    number = 333
    def inner():        
        result = number + 3
        return result
    return inner
return_funct = outer()
return_value = return_funct()
print(return_value)

336

In [15]:
def calc2():
    n1 = 6
    n2 = 8
    return lambda n3 : n1 * n3 + 10

print("calc2()(10) :",calc2()(10))

calc2()(10) : 70