In [6]:
str1 = "hello"
str2 = "python"
str3 = "good"
str4 ="program"
print(str1,str2,str3,str4,sep="/")

hello/python/good/program

In [8]:
str1 = "hello"
str2 = "python"
str3 = "good"
str4 = "program"
print(str1,str2,str3,str4, sep="|")

hello|python|good|program

In [9]:
str1 = "글로벌"
print("-" * 40)
print(str1 * 3)
print("-" * 40)

----------------------------------------
글로벌글로벌글로벌
----------------------------------------

In [15]:
'''
문자열 길이 구하기 len(length)
index(번호)는 0부터 시작한다
'''
str2 = "Life is good"
print("str2의 길이 :",len(str2))

str2의 길이 : 12

In [ ]:
1) %- formatting
2) str.format() - format() 메소드 함수
3) f-string f를 붙여서 표기

In [ ]:
%s - 문자열
%c - 문자 1개
%d - 정수
%% - literal %

In [35]:
name = "글로벌"
age = 24
job = "장군"
print("이름 : %s" % name)
print("나이 : %d" % age)
print("직업 : %s" % job)
print("이름 : %s, 나이 : %d 세, 직업 : %s" %(name, age, job))

이름 : 글로벌
나이 : 24
직업 : 장군
이름 : 글로벌, 나이 : 24 세, 직업 : 장군

In [41]:
'''
이름 : 글로벌, 나이 : 24세, 직업 : 장군
'''
print("이름: {}, 나이 :{}세".format(name,age))
print("이름: {}, 나이 :{}세, 직업 : {}".format(name,age,job))
print("이름 : {0}, 나이 : {1}세, 직업 : {2}".format(name,age,job))
print("직업 : {2}, 나이 :{1}세, 이름 : {0}".format(name,age,job))

이름: 글로벌, 나이 :24세
이름: 글로벌, 나이 :24세, 직업 : 장군
이름 : 글로벌, 나이 : 24세, 직업 : 장군
직업 : 장군, 나이 :24세, 이름 : 글로벌

In [53]:
# f-string, 따옴표 앞에 f를 붙임
name = "글로벌", 
age = 24, 
live = "서울" 
print(f"이름 :{name}, 나이 :{age}세, 주소 :{live}")

이름 :('글로벌',), 나이 :(24,)세, 주소 :서울

In [58]:
name = "홍길동"
age = 50
# 나의 이름은 이순신입니다
print("나의 이름은 %s입니다"% name)
# 나의 나이는 50세입니다
print("나의 나이는 %s세입니다"% age)

나의 이름은 홍길동입니다
나의 나이는 50세입니다

In [62]:
food = "고구마"
count = 3
# 나는 고구마를 3개 먹었습니다
print("나는 %s를 %d개 먹었습니다" %(food, count))
srt1 = "나는 %s를 %d개 먹었습니다" %(food, count)
print(srt1)

나는 고구마를 3개 먹었습니다
나는 고구마를 3개 먹었습니다

In [84]:
total = 100
male = 60
female = 40
# 우리반 학생들은 모두 100명이고, 남자는 60명입니다. 여학생의 비율은 40%입니다.
srt1 = "우리반 학생들은 모두 %d명이고, 남자는 %d명입니다. 여학생의 비율은 %d%%입니다" %(total, male, female)
print(srt1)

print("-" * 50)
print("우리반 학생들은 모두 %d명이고, 남자는 %d명입니다. 여학생의 비율은 %d%%입니다" %(total, male, female))
print("""우리반 학생들은 모두 %d명이고,
남자는 %d명입니다.
여학생의 비율은 %d%%입니다"""
%(total, male, female))

print("-"*50)
print("우리반 학생들은 모두 %d명이고,\n 남자는 %d명입니다.\n 여학생의 비율은 %d%%입니다\n" 
      %(total, male, female))

우리반 학생들은 모두 100명이고, 남자는 60명입니다. 여학생의 비율은 40%입니다
--------------------------------------------------
우리반 학생들은 모두 100명이고, 남자는 60명입니다. 여학생의 비율은 40%입니다
우리반 학생들은 모두 100명이고,
남자는 60명입니다.
여학생의 비율은 40%입니다
--------------------------------------------------
우리반 학생들은 모두 100명이고,
 남자는 60명입니다.
 여학생의 비율은 40%입니다

In [89]:
str2 = "python"
print("%s" % str2)
print("%10s" % "python")
print("%-10s글로벌" % "hello")

python
    python
hello     글로벌

In [94]:
print("3.141592635")
print("%f" % 3.141592635)
print("%.4f" % 3.141592635)
print("%10.4f" % 3.141592635)

3.141592635
3.141593
3.1416
    3.1416

In [113]:
#str.format() 메소드
fruit = "멜론"
count = 3
days = 2
'''
나는 멜론을 3개 먹었습니다
'''
print("나는 %s를 %d개 먹었습니다" %(fruit, count))
print("나는 {0}를 {1}개 먹었습니다".format(fruit, count))
srt= "나는 %s를 %d개 먹었습니다" %(fruit, count)
print(srt)

print("나는 {1}개의 {0}을 먹었습니다".format(fruit, count))
'''
나는 멜론을 3개 먹고 2일동안 배가아팠습니다
'''
print("나는 {}을 {}개 먹고 {}일동안 배가 아팠습니다".format(fruit,count,days))
print("나는 {0}을 {1}개 먹고 {2}일동안 배가 아팠습니다".format(fruit, count, days))

'''
나는 2일동안 배가 아팠습니다. 멜론을 3개 먹었기 때문입니다
'''
print("나는 {2}일 동안 배가 아팠습니다. {0}을 {1}개 먹었기 때문입니다"\
      .format(fruit, count, days))

나는 멜론를 3개 먹었습니다
나는 멜론를 3개 먹었습니다
나는 멜론를 3개 먹었습니다
나는 3개의 멜론을 먹었습니다
나는 멜론을 3개 먹고 2일동안 배가 아팠습니다
나는 멜론을 3개 먹고 2일동안 배가 아팠습니다
나는 2일 동안 배가 아팠습니다. 멜론을 3개 먹었기 때문입니다

In [105]:
print("나는 {fruit}을 {count} 개 먹었습니다".format(fruit ="사과", count="5"))

나는 사과을 5 개 먹었습니다

In [128]:
print("{:<10}".format("py"))
print("{:>10}".format("py"))
print("{:^10}".format("py"))
print("{0:<10}".format("py"))
print("{0:>10}".format("py"))
print("{0:^10}".format("py"))
print("-"* 50)
print("{1:>10}".format("py", "thon"))
print("{1:<10}".format("py", "thon"))
print("{0:^10}".format("py", "thon"))

py
        py
    py
py
        py
    py
--------------------------------------------------
      thon
thon
    py

In [133]:
pi = 3.1415926535
print({"{:.4f}".format(pi)})
print("{:.4f}".format(pi))
print("{:15.4f}".format(pi))
print("{:>15.4f}".format(pi))
print("{:^15.4f}".format(pi))

{'3.1416'}
3.1416
         3.1416
         3.1416
    3.1416

In [144]:
print("{:,d}".format(19990423))
print("{:,}".format(19990423))
print(format(19990423,","))
print("%s" % 123456)
print("%d" % 123456)

19,990,423
19,990,423
19,990,423
123456
123456

In [141]:
print("%15s" % format(19990423, ","))
print("%-15s" % format(19990423, ","))

     19,990,423
19,990,423

In [148]:
tea = "green tea"
count = 4
'''
나는 하루에 녹차 4잔을 마십니다
'''
print("나는 하루에 %s %d잔을 마십니다" %(tea, count))
print("나는 하루에 {} {}잔을 마십니다".format(tea,count))
print(f"나는 하루에 {tea} {count}잔을 마십니다")

나는 하루에 green tea 4잔을 마십니다
나는 하루에 green tea 4잔을 마십니다
나는 하루에 green tea 4잔을 마십니다

In [150]:
key = "pi"
value = 3.14
dict1 = f"{key}:{value}"
print(dict1)

pi:3.14

In [155]:
str1= "python"
s1 = f"{str1:<20}"
s2 = f"{str1:>20}"
s3 = f"{str1:^20}"
print(s1)
print(s2)
print(s3)

python
              python
       python

In [163]:
str1 = "python program"
print("p의 개수 :",str1.count("p"),"개")
print("t의 개수 :",str1.count("p"),"개")
print("o의 개수 :", str1.count("o"),"개")

p의 개수 : 2 개
t의 개수 : 2 개
o의 개수 : 2 개

In [173]:
#find
#rfind
str2 = " python programming is the best programming language"
print("str2.find('b')) :",str2.find('b'))
print("str2.find('o')) :",str2.find('o'))
print("str2.rfind('a')) :", str2.rfind('a'))
print("str2.rfind('z')) :", str2.rfind('z'))

str2.find('b')) : 27
str2.find('o')) : 5
str2.rfind('a')) : 49
str2.rfind('z')) : -1

In [180]:
str2 = " python programming is the best programming language"
print("str2.index('a'):", str2.index('a'))
print("str2.index('z'):", str2.index('z'))

str2.index('a'): 13

ValueError: substring not found

In [185]:
str3 = "PYthon proGram Is ThE Best prograM"
print("str3:",str3)
print("str3.upper():",str3.upper())
print("str3.lower():",str3.lower())
print("str3.title():",str3.title())
print("str3.capitalize :", str3.capitalize())

str3: PYthon proGram Is ThE Best prograM
str3.upper(): PYTHON PROGRAM IS THE BEST PROGRAM
str3.lower(): python program is the best program
str3.title(): Python Program Is The Best Program
str3.capitalize : Python program is the best program

In [189]:
str4 = "p"
print("str4.isupper() :",str4.isupper())
print("str4.islower:",str4.islower())

str4.isupper() : False
str4.islower: True