In [1]:
tp1 = ()
tp2 = tuple()
print("tp1 :", tp1)
print("tp2 :", tp2)
print("tp1 :", type(tp1))
print("tp2 :", type(tp2))

tp1 : ()
tp2 : ()
tp1 : <class 'tuple'>
tp2 : <class 'tuple'>

In [2]:
tp3 = (3,)
tp3_1 = (3)
print("tp3:", tp3)
print("tp3_1:", tp3_1)
print("tp3:", type(tp3))
print("tp3_1:", type(tp3_1))

tp3: (3,)
tp3_1: 3
tp3: <class 'tuple'>
tp3_1: <class 'int'>

In [4]:
tp4 = (1, 2, 3, 4, 5)
tp5 = 1, 2, 3, 4, 5
tp6 = ("python", "class", "variable")
tp7 = (1, 2, 3, "python", ("best", "program"))
result = tp4 + tp6
print("result :", result)
print(tp5 * 2)

result : (1, 2, 3, 4, 5, 'python', 'class', 'variable')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [7]:
tuple_movies = ("라바", "문어선생님", "지구의밤")
print("tuple_movies:", tuple_movies)
print("tuple_movies:", type(tuple_movies))
#unpack
m1, m2, m3 = tuple_movies
print("m1 :", m1)
print("m2 :", m2)
print("m3 :", m3)
print("tuple_movies :", len(tuple_movies))

tuple_movies: ('라바', '문어선생님', '지구의밤')
tuple_movies: <class 'tuple'>
m1 : 라바
m2 : 문어선생님
m3 : 지구의밤
tuple_movies : 3

In [12]:
print(range(1,11))
print(list(range(1,11)))
print(tuple(range(1,11)))
# 1부터 10까지 홀수만 출력하기
print(list(range(1,11,2)))

# 1부터 10까지 짝수만 출력하기
print(list(range(2,11,2)))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [9]:
list_nums = (list(range(1,11)))
print("list_nums :",list_nums)
tuple_nums = tuple(list_nums)
print("tuple_nums:", type(tuple_nums))
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5 , 5, 5]
print("numbers :", numbers)
print("numbers :", type(numbers))
numbers = list(numbers)
print("numbers :", numbers)
print("numbers :", type(numbers))
set_numbers = set(numbers)
print("set_numbers :", set_numbers)
print("set_numbers :", type(set_numbers))

list_nums : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple_nums: <class 'tuple'>
numbers : [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]
numbers : <class 'list'>
numbers : [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]
numbers : <class 'list'>
set_numbers : {1, 2, 3, 4, 5}
set_numbers : <class 'set'>