In [1]:
dict1 = {}
dict2 = dict()
print("dict1 :", dict1)
print("dict2 :", dict2)

dict2["name"] = "이순신"
print("dict2:", dict2)
dict2["age"] = 48
print("dict2:", dict2)

dict1 : {}
dict2 : {}
dict2: {'name': '이순신'}
dict2: {'name': '이순신', 'age': 48}

In [2]:
dict_info = {"name" : "이순신", "age": 48, "weight" : 48, "addr" : "서울"}
print("dict_info:", dict_info)
dict_info["weight"] = 82
print("dict_info:", dict_info)

dict_info["birth"] = "0428"
print("dict_info:", dict_info)

dict_info: {'name': '이순신', 'age': 48, 'weight': 48, 'addr': '서울'}
dict_info: {'name': '이순신', 'age': 48, 'weight': 82, 'addr': '서울'}
dict_info: {'name': '이순신', 'age': 48, 'weight': 82, 'addr': '서울', 'birth': '0428'}

In [3]:
dict_market = {
               "0301" : [10500, 10100, 10800, 10600],
               "0302" : [10100, 10000, 10500, 10200],
               "0303" : [10300, 10100, 10900, 10300]
               }
print("3월 2일 :", dict_market["0302"])
dict_market["0304"] = [10200, 10000, 10500, 10600]
print("dict_market :", dict_market)

3월 2일 : [10100, 10000, 10500, 10200]
dict_market : {'0301': [10500, 10100, 10800, 10600], '0302': [10100, 10000, 10500, 10200], '0303': [10300, 10100, 10900, 10300], '0304': [10200, 10000, 10500, 10600]}

In [4]:
dict_fruit = {11:"apple", 22:"strawberry", 33:"banana", 44:"mango"}
dict_fruit[55] = ["watermelon"]
print("dict_fruit :", dict_fruit)

dict_fruit : {11: 'apple', 22: 'strawberry', 33: 'banana', 44: 'mango', 55: ['watermelon']}

In [5]:
dict_fruit[22] = ["orange"]
print("dict_fruit", dict_fruit)

dict_fruit {11: 'apple', 22: ['orange'], 33: 'banana', 44: 'mango', 55: ['watermelon']}

In [6]:
dict_student = {
                 "name" : ["이순신", "안중근", "유관순"],   
                 "addr" : ["동작구", "마포구", "강남구"],
                 "age"  : [48, 30, 19]                
                 }
print("dict_student:", dict_student)

dict_student: {'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구'], 'age': [48, 30, 19]}

In [8]:
dict_student = {
                 "name" : ["이순신", "안중근", "유관순"],    
                 "addr" : ["동작구", "마포구", "강남구"],
                 "age"  : [48, 30, 19]                
                 }
print("dict_student :", dict_student)
dict_student["grade"] = [4, 3, 2]
print("dict_student:", dict_student)

dict_student : {'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구'], 'age': [48, 30, 19]}
dict_student: {'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구'], 'age': [48, 30, 19], 'grade': [4, 3, 2]}

In [10]:
print("dict_student.keys() :", dict_student.keys())
print("dict_student.keys() :", list(dict_student.keys()))
print("dict_student.keys() :", tuple(dict_student.keys()))

print("dict_student.values() :", dict_student.values())
print("dict_student.values() :", list(dict_student.values()))

dict_student.keys() : dict_keys(['name', 'addr', 'age', 'grade'])
dict_student.keys() : ['name', 'addr', 'age', 'grade']
dict_student.keys() : ('name', 'addr', 'age', 'grade')
dict_student.values() : dict_values([['이순신', '안중근', '유관순'], ['동작구', '마포구', '강남구'], [48, 30, 19], [4, 3, 2]])
dict_student.values() : [['이순신', '안중근', '유관순'], ['동작구', '마포구', '강남구'], [48, 30, 19], [4, 3, 2]]

In [11]:
print("dict_student.values() - name :", list(dict_student.values())[0])
print("dict_student.values() - name :", dict_student["name"])
print("dict_student.values() - name :", dict_student.get("name"))

print("dict_student.values() - addr :", list(dict_student.values())[1])
print("dict_student.values() - addr :", dict_student["addr"])
print("dict_student.values() - addr :", dict_student.get("addr"))

print("dict_student.values() - age :", list(dict_student.values())[2])
print("dict_student.values() - age :", dict_student["age"])
print("dict_student.values() - age :", dict_student.get("age"))

print("dict_student.values() - grade :", list(dict_student.values())[3])
print("dict_student.values() - grade :", dict_student["grade"])
print("dict_student.values() - grade :", dict_student.get("grade"))

dict_student.values() - name : ['이순신', '안중근', '유관순']
dict_student.values() - name : ['이순신', '안중근', '유관순']
dict_student.values() - name : ['이순신', '안중근', '유관순']
dict_student.values() - addr : ['동작구', '마포구', '강남구']
dict_student.values() - addr : ['동작구', '마포구', '강남구']
dict_student.values() - addr : ['동작구', '마포구', '강남구']
dict_student.values() - age : [48, 30, 19]
dict_student.values() - age : [48, 30, 19]
dict_student.values() - age : [48, 30, 19]
dict_student.values() - grade : [4, 3, 2]
dict_student.values() - grade : [4, 3, 2]
dict_student.values() - grade : [4, 3, 2]

In [12]:
print("name" in dict_student)
print("weight" in dict_student)
print(["이순신", "안중근", "유관순"] in dict_student.values())

True
False
True

In [13]:
print("dict_student :", dict_student)
print("dict_student :", dict_student.items())
print("dict_student :", list(dict_student.items()))
print("dict_student :", tuple(dict_student.items()))

dict_student : {'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구'], 'age': [48, 30, 19], 'grade': [4, 3, 2]}
dict_student : dict_items([('name', ['이순신', '안중근', '유관순']), ('addr', ['동작구', '마포구', '강남구']), ('age', [48, 30, 19]), ('grade', [4, 3, 2])])
dict_student : [('name', ['이순신', '안중근', '유관순']), ('addr', ['동작구', '마포구', '강남구']), ('age', [48, 30, 19]), ('grade', [4, 3, 2])]
dict_student : (('name', ['이순신', '안중근', '유관순']), ('addr', ['동작구', '마포구', '강남구']), ('age', [48, 30, 19]), ('grade', [4, 3, 2]))

In [15]:
dict_student = {
              'name': ['이순신', '안중근', '유관순'], 
              'addr': ['동작구', '마포구', '강남구'], 
              'age': [48, 30, 19], 
              'grade': [4, 3, 2]
}

In [16]:
dict_student.pop("age")
print(dict_student)

{'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구'], 'grade': [4, 3, 2]}

In [17]:
dict_student.popitem()
print(dict_student)

{'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구']}

In [18]:
del dict_student["name"]
print(dict_student)

{'addr': ['동작구', '마포구', '강남구']}

In [19]:
dict_student = {
              'name': ['이순신', '안중근', '유관순'], 
              'addr': ['동작구', '마포구', '강남구'], 
              'age': [48, 30, 19], 
              'grade': [4, 3, 2]
}
print(dict_student)

{'name': ['이순신', '안중근', '유관순'], 'addr': ['동작구', '마포구', '강남구'], 'age': [48, 30, 19], 'grade': [4, 3, 2]}

In [20]:
dict_student.clear()
print(dict_student)

{}

In [21]:
student1 = {
            "name": ["이순신", "장보고", "유관순"], 
            "age": [48, 30, 19]
            }
student2 = {
            "height": [197, 184, 170], 
            "weight": [92, 81, 56]
            }

print("student1 :", student1)
print("student2 :", student2)

student1 : {'name': ['이순신', '장보고', '유관순'], 'age': [48, 30, 19]}
student2 : {'height': [197, 184, 170], 'weight': [92, 81, 56]}

In [22]:
student1.update(student2)
print("student1 :", student1)
print("student2 :", student2)

student1 : {'name': ['이순신', '장보고', '유관순'], 'age': [48, 30, 19], 'height': [197, 184, 170], 'weight': [92, 81, 56]}
student2 : {'height': [197, 184, 170], 'weight': [92, 81, 56]}

In [23]:
student2.update(student1)
print("student1 :", student1)
print("student2 :", student2)

student1 : {'name': ['이순신', '장보고', '유관순'], 'age': [48, 30, 19], 'height': [197, 184, 170], 'weight': [92, 81, 56]}
student2 : {'height': [197, 184, 170], 'weight': [92, 81, 56], 'name': ['이순신', '장보고', '유관순'], 'age': [48, 30, 19]}

In [24]:
print("student2 :", student2)
student2.update({'height': [197, 184, 172], 'weight': [92, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [58, 40, 29]})
print("student2 :", student2)

student2["height"][1] = 177
student2["weight"][0]= 90
print("student2 :", student2)

student2["age"] = [63, 45, 34]
print("student2 :", student2)

student2["std_no"] = [1, 2, 3]
print("student2 :", student2)

student2.update(addr = ["서울", "부산", "천안"])
print("student2 :", student2)

student2.update(age = [68, 50, 39])
print("student2 :", student2)


student2.setdefault("phone")
print("student2 :", student2)

student2.setdefault("score",[98, 92, 86])
print("student2 :", student2)

student2.setdefault("score",[90, 92, 89])
print("student2 :", student2)

student2.update(score = [90, 92, 89])
print("student2 :", student2)

student2 : {'height': [197, 184, 170], 'weight': [92, 81, 56], 'name': ['이순신', '장보고', '유관순'], 'age': [48, 30, 19]}
student2 : {'height': [197, 184, 172], 'weight': [92, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [58, 40, 29]}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [58, 40, 29]}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [63, 45, 34]}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [63, 45, 34], 'std_no': [1, 2, 3]}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [63, 45, 34], 'std_no': [1, 2, 3], 'addr': ['서울', '부산', '천안']}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [68, 50, 39], 'std_no': [1, 2, 3], 'addr': ['서울', '부산', '천안']}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [68, 50, 39], 'std_no': [1, 2, 3], 'addr': ['서울', '부산', '천안'], 'phone': None}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [68, 50, 39], 'std_no': [1, 2, 3], 'addr': ['서울', '부산', '천안'], 'phone': None, 'score': [98, 92, 86]}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [68, 50, 39], 'std_no': [1, 2, 3], 'addr': ['서울', '부산', '천안'], 'phone': None, 'score': [98, 92, 86]}
student2 : {'height': [197, 177, 172], 'weight': [90, 88, 65], 'name': ['이순신', '장보고', '유관순'], 'age': [68, 50, 39], 'std_no': [1, 2, 3], 'addr': ['서울', '부산', '천안'], 'phone': None, 'score': [90, 92, 89]}