In [ ]:
'''
함수 : function
일련의 code 들을 하나로 묶어서 code block(콜론(:) + 들여쓰기)
아름을 붙여서 호출해서 사용하는 것 <-- "code의 재사용"
              ㄴ 이림을 부름(call, invocation)

형식
함수 정의부(함수 전체)
              함수가 실행될 때 필요한 값을 달라는 부분 : 개수를 지정
def 함수이름(매개 변수 : parameter) : 함수 선언부        () 0개 이상
ㄴ definition
명령문
명령문  code block : 함수 body (몸통)
명령문
....
return (return 값)
|       ㄴ 돌려주는 값 : 어디로? <- 함수를 호출한 곳으로 돌려줌
           return 값이 없는 경우 생략 가능
           return 값이 있으면, 생략할 수 없음
함수를 작성했다고 해서바로 실행되는 것이 아니고
함수 속에 작성한 내용을 실행하기 위해서는
함수에 호출해야함

함수 호출방법
             함수가 실행될 때 필요한 값을 달라는 부분
함수이름(parameter 에서 요구하는 개수만큼 실제값(변수)을 넣어줌)
                   argument(인자, 인잣값, 인수)
'''

In [1]:
def print_3_times():
    print("안녕하세요")
    print("안녕하세요")
    print("안녕하세요")
    
print_3_times()

안녕하세요
안녕하세요
안녕하세요

In [2]:
def add_2_nums(number1, number2):
    number3 = number1 + number2
    print(number3)

add_2_nums(11, 22)

33

In [4]:
'''
함수 종류 4가지
1. parameter 도 없고 return 값도 없는 함수
2. parameter 는 있고 return 값은 없는 함수
3. parameter 는 없고 return 값은 있는 함수
4. parameter 도 있고 return 값도 있는 함수
'''
#1. parameter 도 없고 return 값도 없는 함수
def say_hello():
    print("say_hello() 함수 호출됨")
    print("안녕하세요, 글로벌입니다 ~~")
    return
say_hello()
print("say_hello() 함수 리턴됨")

say_hello() 함수 호출됨
안녕하세요, 글로벌입니다 ~~
say_hello() 함수 리턴됨

In [7]:
#2. parameter 는 있고 return 값은 없는 함수
def multiply(num1, num2):
    print("mutiply(num1, num2) 호출됨")
    result = num1 * num2
#함수 호출하기
multiply(2, 3)
print("multiply(num1, num2)리턴됨")

mutiply(num1, num2) 호출됨
multiply(num1, num2)리턴됨

In [8]:
#3. parameter 는 없고 return 값은 있는 함수
def add_multiply():
    print("add_multiply() 함수 호출됨")
    number1 = 10
    number2 = 20
    result = (number1 + number2) * 3
    print("result :", result)
    return result
figure = add_multiply()
print("리턴값 :", add_multiply)
print("add_multiply() 함수 리턴됨")

add_multiply() 함수 호출됨
result : 90
리턴값 : <function add_multiply at 0x000001CCB6E7C670>
add_multiply() 함수 리턴됨

In [9]:
#4. parameter 도 있고 return 값도 있는 함수
def calc(num1, num2, num3, num4):
    print("calc(num1, num2 ,num3, num4)함수 호출")
    result = num1+ num2 + num3 + num4
    return result

return_value = calc(11, 22, 33, 44)
print("return_value :", return_value)
print("calc(num1, num2, num3, num4) 함수 리턴됨")

calc(num1, num2 ,num3, num4)함수 호출
return_value : 110
calc(num1, num2, num3, num4) 함수 리턴됨

In [11]:
'''
argument를 parameter 에 전달할 때
전달 순서를 바꾸고 싶은 경우
 argument 부분에서 parameter에
 직접 값을 할당해 주는 code를 작성함
'''
def multi(n1, n2):
    result =(n1 + 10) * (n2 +3)
    return result

result = multi(10,20)
print("result :", result)
print("-" * 50)

result2 = multi(n2 = 10, n1 = 20)
print("result2 :", result2)

number1 = 2
number2 = 3
result3 = multi(number1, number2)
print("result3 :", result3)

result : 460
--------------------------------------------------
result2 : 390
result3 : 72

In [17]:
'''
212 page
'''
def print_n_times(value, n):
    for i in range(n):
        print(value)
        
print_n_times(100, 3)
print_n_times("안녕하세요", 5)

100
100
100
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [19]:
'''
가변 매개 변수
     하나의 parameter에 여려 개의 값을 전달하는 경우
     하나의 parameter에는 하나의 값을 전달함
    <-- parameter 앞에 *표를 붙임
    가변 매개변수에 값을 여러 개 전달하는 경우,
    이 값들은 함수 내부에서 tuple로 변환됨
'''
#numbers = (10, 9, 8, 7, 6)
numbers = 10, 9, 8, 7, 6
print("numbers :", numbers)
print("numbers :", type(numbers))

def add_numbers(*numbers) :
    print("numbers :", numbers)
    print("numbers:", type(numbers))
    total = 0
    for number in numbers:
        total += number
    return total
result = add_numbers(1)
print("result :", result)

result = add_numbers(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("result :", result)
print("-" * 50)
'''
# 가변 매게변수에는 tuple을 전달 할 수 없음
result = add_numbers( (1 ,2 ,3 ,4 ,5))
print("result :", result)
print("-" * 50)
'''

numbers : (10, 9, 8, 7, 6)
numbers : <class 'tuple'>
numbers : (1,)
numbers: <class 'tuple'>
result : 1
numbers : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numbers: <class 'tuple'>
result : 55
--------------------------------------------------

In [20]:
total = 0
for number in (1,) :
        total += number
print("total :", total)

total : 1

In [29]:
def multi_operation(operator, *numbers):
    result = 1
    if operator == "add":
        for num in numbers:
            result += num
    if operator == "subtract":
        for num in numbers:
            result -= num
    if operator == "multiply":
        for num in numbers:
            result *= num
    if operator == "divide":
        for num in numbers:
            result /= num
    
    return result
result1 = multi_operation("add", 1, 2, 3 , 4, 5)
result2 = multi_operation("subtract", 1, 2, 3 , 4, 5)
result3 = multi_operation("multiply", 1, 2, 3 , 4, 5)
result4 = multi_operation("divide", 1, 2, 3 ,4 ,5)

print("result1 :", result1)
print("result2 :", result2)
print("result3 :", result3)
print(f"result4 : {result4: .2f}")

result1 : 16
result2 : -14
result3 : 120
result4 :  0.01

In [30]:
def children(*kids):
    print(f"우리집 아이들은 {kids}입니다")
    
children("글로벌", "아아티", "인재", "개발원")

우리집 아이들은 ('글로벌', '아아티', '인재', '개발원')입니다

In [ ]:
'''
우리집 아이들은 글로벌, 아이티, 인재, 개발원입니다
'''
def children2(*kids)
    children = ""
    for child in kids:
        if child == kids[len(kids)-1]:
            children += child
        else:
            children += child + ","
    print(f"우리집 아이들은 {children} 입니다")
chlidren2("글로벌", "아이티", "인재", "개발원")

In [ ]:
'''
214 pages
'''
def print_n_times(n, *values):
    for i in range(n):
        for value in values :
            print(value)
        print()
print_n_times(3, "안녕하세요", "즐거운", "파이썬 프로그래밍")

In [32]:
def print_fruits(*fruits):
    print("fruits:", fruits)
    print("fruits:", type(fruits))
    
    for fruit in fruits:
        print(fruit, end = "")
    print()

list_fruits = ["바나나", "딸기", "수박", "망고"]
tuple_fruits = ("바나나", "딸기", "수박", "망고")

print_fruits(list_fruits)
print_fruits(tuple_fruits)

fruits: (['바나나', '딸기', '수박', '망고'],)
fruits: <class 'tuple'>
['바나나', '딸기', '수박', '망고']
fruits: (('바나나', '딸기', '수박', '망고'),)
fruits: <class 'tuple'>
('바나나', '딸기', '수박', '망고')

In [35]:
def print_fruits(fruits):
    print("fruits:", fruits)
    print("fruits:", type(fruits))
    
    for fruit in fruits:
        print(fruit, end = " ")
    print()

list_fruits = ["바나나", "딸기", "수박", "망고"]
tuple_fruits = ("바나나", "딸기", "수박", "망고")

print_fruits(list_fruits)
print_fruits(tuple_fruits)

fruits: ['바나나', '딸기', '수박', '망고']
fruits: <class 'list'>
바나나 딸기 수박 망고
fruits: ('바나나', '딸기', '수박', '망고')
fruits: <class 'tuple'>
바나나 딸기 수박 망고

In [37]:
'''
함수 기본값 매개변수
     default value parameter
     ㄴ parameter 로 들어오는 argument를 미리 정함
     ㄴ parameter 중에서 맨 마지막에 위치해야 함
'''
def person_info(name, age, man = True):
    print(f"이름 : {name} \n"
          f"나이 : {age}")
    if man:
        print("성별 : 남자")
    else:
        print("성별 : 여자")
person_info("글로벌", 21)
person_info("아이티", 25)
person_info("개발원", 23, False)

이름 : 글로벌
나이 : 21
성별 : 남자
이름 : 아이티
나이 : 25
성별 : 남자
이름 : 개발원
나이 : 23
성별 : 여자