In [3]:
class Person:
    def __init__(self):
        self.__name = ""
        self.__age  = 0
        self.__height = 0
        self.__weight = 0
        
    # getter : @property
    @property
    def name(self):
        return self.__name
    @property
    def age(self):
        return self.__age
    @property
    def height(self):
        return self.__height
    @property
    def weight(self):
        return self.__weight
    
    # setter : @맴버변수이름.setter
    @name.setter
    def name(self, name):
        print(f"당신의 이름은 {name} 입니다")
        if len(name) < 2:
            print("이름은 두 자 이상 입력해 주세요")
            return
        self.__name = name
    @age.setter
    def age(self, age):
        if age <= 0:
            print("나이는 양수만 입력해 주세요")
            return
        self.__age = age
    @height.setter
    def height(self, height):
        if height < 100:
            print("키는 100 이상만 입력해 주세요")
            return
        self.__height = height
    @weight.setter
    def weight(self, weight):
        if weight < 50:
            print("몸무게는 50 이상만 입력해 주세요")
            return
        self.__weight = weight
        
    def __str__(self):
        # 같은 클래스 안에 있는 메소드(__str__)에서
        # private 멤버변수들의 값을 가져옴
        return f"이름 : {p1.__name}, 나이 : {p1.__age}, 키 : {p1.__height}, 몸무게 : {p1.__weight}"
    
p1 = Person()
p1.name = "글로벌"
p1.age  = 25
p1.height = 187
p1.weight = 70

print(p1)

# getter 을 호출해서 값을 가져옴
print(f"이름 : {p1.name}, 나이 : {p1.age}, 키 : {p1.height}, 몸무게 : {p1.weight}")

당신의 이름은 글로벌 입니다
이름 : 글로벌, 나이 : 25, 키 : 187, 몸무게 : 70
이름 : 글로벌, 나이 : 25, 키 : 187, 몸무게 : 70

In [12]:
p2 = Person()
p2.name = "김"
print("p2.name :",p2.name)
print("-" * 50)
p2.name = "이훈"
print("p2.name :",p2.name)
print("-" * 50)
p2.age = -12
p2.age = 23
print("p2.age :",p2.age)
print("-" * 50)
p2.height = 99
print("p2.height :",p2.height)
p2.height = 182
print("p2.height :",p2.height)
print("-" * 50)
p2.weight = 34
print("p2.weight :",p2.weight)
p2.weight = 69
print("p2.weight :",p2.weight)

당신의 이름은 김 입니다
이름은 두 자 이상 입력해 주세요
p2.name :
--------------------------------------------------
당신의 이름은 이훈 입니다
p2.name : 이훈
--------------------------------------------------
나이는 양수만 입력해 주세요
p2.age : 23
--------------------------------------------------
키는 100 이상만 입력해 주세요
p2.height : 0
p2.height : 182
--------------------------------------------------
몸무게는 50 이상만 입력해 주세요
p2.weight : 0
p2.weight : 69

In [15]:
'''
378 page
소멸자
'''
class Test:
    def __init__(self, name):
        self.name = name
        print("{} - 생성되었습니다".format(self.name))
    def __del__(self):
        print("{} - 소멸되었습니다".format(self.name))
        
t1 = Test("파이썬")
del t1

파이썬 - 생성되었습니다

In [37]:
'''
371 page
'''
students = [
            {"name":"윤인성","korean":87,"math":98,"english":88,"science":95},
            {"name":"연하진","korean":92,"math":98,"english":96,"science":98},
            {"name":"구지연","korean":76,"math":96,"english":94,"science":90},
            {"name":"나선주","korean":98,"math":92,"english":96,"science":92},
            {"name":"윤아린","korean":95,"math":98,"english":98,"science":98},
            {"name":"윤명월","korean":64,"math":88,"english":92,"science":92}
           ]

print("이름", "총점", "평균", sep="\t")

for student in students:
    # 평균, 총점 구하기
    score_sum = student["korean"] + student["math"]+ student["english"]+ student["science"]
    score_average = score_sum / (len(students[0].values()) - 1)
    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [23]:
'''
372 - 373 page
'''
def create_student(name, korean, math, english, science):
    return {"name":name,"korean":korean,"math":math,"english":english,"science":science}

students = [
             create_student("윤인성",87,98,88,95),
             create_student("연하진",92,98,96,98),
             create_student("구지연",76,96,94,90),
             create_student("나선주",98,92,96,92),
             create_student("윤아린",95,98,98,98),
             create_student("윤명월",64,88,92,92)
           ]

print("이름", "총점", "평균", sep="\t")

for student in students:
    # 평균, 총점 구하기
    score_sum = student["korean"] + student["math"]+ student["english"]+ student["science"]
    score_average = score_sum / (len(students[0].values()) - 1)
    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [27]:
'''
374 - 375  page
'''
def create_student(name, korean, math, english, science):
    return {"name":name,"korean":korean,"math":math,"english":english,"science":science}

# 총점 구하기
def student_get_sum(student):
    return student["korean"] + student["math"]+ student["english"]+ student["science"]

# 평균 구하기
def student_get_average(student):
    return student_get_sum(student) /  (len(student.values()) - 1)

# 출력할 문자열 만들기
def student_to_string(student):
    return f'{student["name"]}\t{student_get_sum(student)}\t{student_get_average(student)}'

# 학생 리스트 선언하기
students = [
             create_student("윤인성",87,98,88,95),
             create_student("연하진",92,98,96,98),
             create_student("구지연",76,96,94,90),
             create_student("나선주",98,92,96,92),
             create_student("윤아린",95,98,98,98),
             create_student("윤명월",64,88,92,92)
           ]
'''
위의 code 를 실행하면 아래와 같은 list 가 생성됨
students = [
            {"name":"윤인성","korean":87,"math":98,"english":88,"science":95},
            {"name":"연하진","korean":92,"math":98,"english":96,"science":98},
            {"name":"구지연","korean":76,"math":96,"english":94,"science":90},
            {"name":"나선주","korean":98,"math":92,"english":96,"science":92},
            {"name":"윤아린","korean":95,"math":98,"english":98,"science":98},
            {"name":"윤명월","korean":64,"math":88,"english":92,"science":92}
           ]
'''

# 총점 평균 출력하기
print("이름", "총점", "평균", sep="\t")

for student in students:
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [53]:
'''
377 - 380 page
'''
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
    # 379 page
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    # 380 page
    def get_average(self):
        return self.get_sum() / 4
    
    # 출력할 문자열 만들기
    '''
    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'
    '''
    def __str__(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'
                
        
students = [
             Student("윤인성",87,98,88,95),
             Student("연하진",92,98,96,98),
             Student("구지연",76,96,94,90),
             Student("나선주",98,92,96,92),
             Student("윤아린",95,98,98,98),
             Student("윤아린",95,98,98,98),
           ]        

# 총점 평균 출력하기
print("이름", "총점", "평균", sep="\t")

'''
# to_string() 을 사용하는 경우  
for student in students:
    print(student.to_string())   
'''    
# __str__() 을 사용하는 경우
for student in students:
    print(student)

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤아린	389	97.25

In [43]:
'''
385  page
'''
class Teacher:
    def __init__(self, name):
        self.name = name
        
class Student2:
    def __init__(self, name):
        self.name = name
        
s1 = Student2("글로벌")
s2 = Student2("아이티")
t1 = Teacher("인재")
t2 = Teacher("개발원")

'''
isinstance(변수, 클래스이름)
  ㄴ 변수에 저장된 주소지에 클래스이름의 클래스의 객체가 있는지 물어봄
     있으면 True, 없으면 False 를 반환함
'''
print("isinstance(s1, Student2) :",isinstance(s1, Student2))
print("isinstance(s2, Student2) :",isinstance(s2, Student2))
print("isinstance(s1, Teacher) :",isinstance(s1, Teacher))
print("isinstance(s2, Teacher) :",isinstance(s2, Teacher))
print("isinstance(t1, Student2) :",isinstance(t1, Student2))
print("isinstance(t2, Student2) :",isinstance(t2, Student2))
print("isinstance(t1, Teacher) :",isinstance(t1, Teacher))
print("isinstance(t2, Teacher) :",isinstance(t2, Teacher))

isinstance(s1, Student2) : True
isinstance(s2, Student2) : True
isinstance(s1, Teacher) : False
isinstance(s2, Teacher) : False
isinstance(t1, Student2) : False
isinstance(t2, Student2) : False
isinstance(t1, Teacher) : True
isinstance(t2, Teacher) : True

In [45]:
'''
386 - 387 page
'''
class Student3:
    def study(self):
        print("공부를 합니다")

class Teacher3:
    def teach(self):
        print("학생을 가르칩니다")
        
classroom = [Student3(), Student3(), Teacher3(), Student3(), Teacher3()]        

s1 = Student3()
s2 = Student3()
t1 = Teacher3()
s3 = Student3()
t2 = Teacher3()
classroom = [s1, s2, t1, s3, t2]

for person in classroom:
    if isinstance(person, Student3):
        person.study()
    elif isinstance(person, Teacher3):
        person.teach()

공부를 합니다
공부를 합니다
학생을 가르칩니다
공부를 합니다
학생을 가르칩니다

In [69]:
'''
390 - 391 page
'''
class Student4:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
    def get_sum(self):
        return self.korean + self.math + self.english + self.science
    
    def get_average(self):
        return self.get_sum() / 4
    
    # 출력할 문자열 만들기
    '''
    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'
    '''
    def __str__(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'
    
    def __eq__(self, value):
        return self.get_sum() == value.get_sum()
    def __ne__(self, value):
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()
    def __ge__(self, value):
        return self.get_sum() >= value.get_sum()
    def __lt__(self, value):
        return self.get_sum() < value.get_sum()
    def __le__(self, value):
        return self.get_sum() <= value.get_sum()
'''
students = [
             Student4("윤인성",87,98,88,95),
             Student4("연하진",92,98,96,98),
             Student4("구지연",76,96,94,90),
             Student4("나선주",98,92,96,92),
             Student4("윤아린",95,98,98,98),
             Student4("윤아린",95,98,98,98),
           ]        
'''    
# 학생 선언하기 : Student 클래스의 객체 생성하기
yoon = Student4("윤인성",87,98,88,95)
yeon = Student4("연하진",92,98,96,98)

# 출력하기
print("yoon == yeon :",yoon == yeon)
print("yoon != yeon :",yoon != yeon)
print("yoon > yeon :",yoon > yeon)
print("yoon >= yeon :",yoon >= yeon)
print("yoon < yeon :",yoon < yeon)
print("yoon <= yeon :",yoon <= yeon)
print("-" * 50)

'''
              ┌ __eq__() 메소드가 실행할 때 사용하는 대상이 되는 객체(목적어)
yoon.__eq__(yeon)
 ㄴ __eq__() 메소드를 실행하는 주체가 되는 객체(주어)
 
'''
print("yoon.__eq__(yeon) :",yoon.__eq__(yeon))
print("yoon.__ne__(yeon) :",yoon.__ne__(yeon))
print("yoon.__gt__(yeon) :",yoon.__gt__(yeon))
print("yoon.__ge__(yeon) :",yoon.__ge__(yeon))
print("yoon.__lt__(yeon) :",yoon.__lt__(yeon))
print("yoon.__le__(yeon) :",yoon.__le__(yeon))

yoon == yeon : False
yoon != yeon : True
yoon > yeon : False
yoon >= yeon : False
yoon < yeon : True
yoon <= yeon : True
--------------------------------------------------
yoon.__eq__(yeon) : False
yoon.__ne__(yeon) : True
yoon.__gt__(yeon) : False
yoon.__ge__(yeon) : False
yoon.__lt__(yeon) : True
yoon.__le__(yeon) : True

In [ ]:
class Resource:
    def __